/* CSS declarations go here */
@import "./aliases"
@import "./colors"

@lost cycle auto

// @lost flexbox no-flex;


// ===================================
/* http://meyerw eb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
// ===================================

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	display: block
body
	line-height: 1
ol,ul
	list-style: none
blockquote,q
	quotes: none
blockquote:before,blockquote:after,q:before,q:after
	content: ''
	content: none
table
	border-collapse: collapse
	border-spacing: 0

// ===================================
// убрать подсветку index, input и тд
// ===================================
select, select:-moz-focusring  // disable outline border in FF
	color: transparent !important
	color: rgba($black, 0.8) !important
	text-shadow: 0 0 0 #000 !important
	font-size: 0.9rem
	font-weight: 300
	padding: 1rem
select, input
	font-size: 0.9rem
	font-weight: 300
	border-radius: 4px
a
	user-focus: none !important
a:active, :focus
	outline: none !important
::-moz-focus-inner
	border: 0 !important

// ===================================


body
	font-family: 'Lato', sans-serif
	font-size: 16px
	font-weight: 300
	text-align: center
	background-color: lighten($black, 95%)
	color: lighten($black, 50%)

h2, h3, h4
	display: block
	font-family: 'Nunito', sans-serif
	text-align: center
	font-weight: 400

h1
	font-size: 3rem
	font-family: 'Nunito', sans-serif
	letter-spacing: -1px
	// font-family: 'Lato', sans-serif
	margin: 1rem 0
	font-weight: 500
	text-align: center
	c: $blue
h2
	font-size: 2rem
h3
	font-size: 1.5rem
	c: $navy
h4
	font-size: 1.2rem
	margin: 0.5rem 0
	c: lighten($black, 20%)
p, a
	font-size: 1rem
	font-weight: 300
	line-height: 1.5rem
	c: lighten($black, 50%)
.supplement
	font-size: 1.3rem
	font-weight: 200
	c: $blue - 90%
	// font-family: sans-serif

label.link
	cursor: pointer
	font-size: 1rem
.small
	font-size: 0.8rem
.uppercase
	text-transform: uppercase
.row
	lost-utility: clearfix
	width: 100%
	padding: 5rem 0
section
	width: 100%
	padding: 1rem 0
	lost-utility: clearfix
.center
	lost-center: 1100px
	padding-left: 90px
	padding-right: 30px
.invisible
	display: none
.bg-white
	background-color: $white
	position: relative
	&:before
		content: '\27e0'
		position: absolute
		font-size: 40px
		text-align: center
		border-radius: 50%
		width: 40px
		height: 40px
		top: -30px
		padding: 10px
		background-color: $white
		color: lighten($black, 60%)
.bg-gray
	background-color: lighten($black, 95%)
	position: relative
	&:before
		content: '\27e0'
		position: absolute
		font-size: 40px
		text-align: center
		border-radius: 50%
		width: 40px
		height: 40px
		top: -30px
		padding: 10px
		background-color: lighten($black, 95%)
		color: lighten($black, 60%)
.bg-blue
	background-color: $blue
	position: relative
	&:before
		content: '\27e0'
		position: absolute
		font-size: 40px
		text-align: center
		border-radius: 50%
		width: 40px
		height: 40px
		top: -30px
		padding: 10px
		background-color: $blue
		color: $white
.bg-top
	background-color: rgba($white, 0.9)
.col-1-3
	lost-waffle: 1/3
	text-align: center
.col-1-4
	lost-waffle: 1/4
	text-align: center
.col-1-2
	lost-waffle: 1/2
	text-align: center
.col-1-1
	lost-waffle: 1
	text-align: center
.navigation-top
	position: fixed
	display: table
	height: 50px
	top: 0
	left: 0
	width: 100%
	z-index: 2
	font-size: 1rem
	.button
		font-size: 1rem
		color: $white
		background-color: $blue
		display: inline
		margin-right: 20px
		padding: 0.2rem 0.5rem
		border-radius: 5px
		cursor: pointer
		&:hover
			background-color: $red
	.link
		text-decoration: none
		cursor: pointer
		color: lighten( $navy, 50% )
		margin-right: 20px
		&:hover
			color: lighten( $navy, 20% )
	.right
		text-align: right
	.nav
		display: table-cell
		vertical-align: middle

.content-wrapper
	min-height: calc(100vh - 50px)
	header
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 200px
		background-color: $navy
		text-align: center
		overflow: hidden
		.title, .subtitle
			font-family: 'Ubuntu', sans-serif
			margin-top: 2rem
		.title
			color: lighten($blue, 50%)
		.subtitle
			line-height: 1.5rem
			font-weight: 300
			color: lighten($navy, 70%)

	.content
		margin-top: 200px
